extends ../share/layout

block styleSection
  link(rel="stylesheet", type="text/css", href= pageHelper.setStyle('user.login'))

block content
  div#content
    div#login!= loginHtml


block scriptSection
  script(type="text/javascript", src= pageHelper.setScript('user.login'))
