extends ../share/layout

block styleSection
  link(rel="stylesheet", type="text/css", href= pageHelper.setStyle('reportCenter.report'))

block content
  div#content
    div#report!= reportHtml
  div#sidebar
  div#totop
  input#dataMessage(type="hidden", value=message)

block scriptSection
  script(type="text/javascript", src= pageHelper.setScript('reportCenter.report'))
