extends ../share/layout


block styleSection
  link(rel="stylesheet", type="text/css", href= pageHelper.setStyle('reportCenter.sendReportEmail'))

block content
  div#content!= emailHtml

block scriptSection
  script(type="text/javascript", src= pageHelper.setScript('reportCenter.sendReportEmail'))
