extends ../share/layout

block styleSection
  link(rel="stylesheet", type="text/css", href= pageHelper.setStyle('main.index'))

block content
  div#content
    div#searchbar
    div#list(data-type=listType)!= listHtml
  div#sidebar
  div#totop

block scriptSection
  script(type="text/javascript", src= pageHelper.setScript('main.index'))
