doctype html
html(lang="zh-cn")
  head
    title!= title
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(name="wap-font-scale" content="no")
    link(rel="shortcut icon",href="http://cdn.cepin.com/img/cepin_logo.ico",type="image/x-icon")
    link(rel="stylesheet",type="text/css",href= pageHelper.setStyle('vendors'))
    block styleSection
  body
    - if(!noHead)
      div#header!= headerHtml
    block content
    div#footer!= footerHtml
    script(src= pageHelper.setScript('vendors'))
    block scriptSection
