extends ../share/layout

block styleSection
  link(rel="stylesheet", type="text/css", href= pageHelper.setStyle('error.404'))

block content
  div#content
    #page-error
      dl
        dt
        dd 页面君不见鸟...<br>要不去首页看看
      .btn
        a(href='/' class="cui-button preset-red")
          span 前往首页

block scriptSection
  script(type="text/javascript", src= pageHelper.setScript('error.404'))
