extends ../share/layout

block styleSection
  link(rel="stylesheet", type="text/css", href= pageHelper.setStyle('error.timeout'))

block content
  div#content
    #page-error
      dl
        dt
          span.cpf-icon-out-date
        dd 页面已过期
      .btn
        a(href='/user/login' class="cui-button preset-red")
          span 重新登录

block scriptSection
  script(type="text/javascript", src= pageHelper.setScript('error.timeout'))
