extends ../share/layout

block styleSection
  link(rel="stylesheet", type="text/css", href= pageHelper.setStyle('accountCenter.addAccount'))

block content
  div#content
    div#addAccount!=addAccountHtml
  div#sidebar
  div#totop

block scriptSection
  script(type="text/javascript", src= pageHelper.setScript('accountCenter.addAccount'))
