extends ../share/layout

block styleSection
  link(rel="stylesheet", type="text/css", href= pageHelper.setStyle('accountCenter.sendEmailMsg'))

block content
  div#content!= sendEmailMsgHtml
    //- div#sendEmailMsg!= sendEmailMsgHtml

block scriptSection
  script(type="text/javascript", src= pageHelper.setScript('accountCenter.sendEmailMsg'))
